# Hệ thống
.DS_Store
*.log

# Bảo mật — KHÔNG push credentials
wordpress/wp-config.php


# Cache runtime
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/

# File nén không cần
*.tar.gz
*.zip
